.jumbotron{
    background-image:url(me-header.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size:cover;
}
th, td{
    padding: 15px;
}
img{
    height:200px;
    width:200px;
    margin-right: auto;
    margin-left: auto;
    float: left;
    padding: 15px;
}